#wrapper
    #chat
      #nickname
        form#set-nickname
          input(type="text", placeholder="Please pick a nickname")#nick
          button Submit
      form#send-message
        input(type="text", placeholder="Enter your message here")#message
        button Send
      #messages
        #nicknames
        #lines

