style
    *, body { margin:0;padding:0}
    #map {
        height: 300px;



    }


script
    var map;
    var infowindow;

    function initialize() {
    var pyrmont = new google.maps.LatLng(49.27998,-122.92279);

    map = new google.maps.Map(document.getElementById('map'), {
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: pyrmont,
      zoom: 15
    });

    var request = {
      location: pyrmont,
      radius: 1500,
      types: ['food','restaurant','cafe']
    };
    infowindow = new google.maps.InfoWindow();
    var service = new google.maps.places.PlacesService(map);
    service.search(request, callback);
    }

    function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }
    }
    }

    function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
    }

    );

       marker.setAnimation(google.maps.Animation.DROP)

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(place.name);
      infowindow.open(map, this);
    });
    }

    google.maps.event.addDomListener(window, 'load', initialize);


div#map